nav.nav-main#menuWrapper
  ul.nav-main__menu
    li
      a.nav-main__menu-link(href='javascript:void(0)',title='Menu level 1',class=menuIndex==1?'active':'') Menu level 1
      span.ion.ion-ios-arrow-down
      ul.nav-main__menu-second
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==1&&munuSubIndex==1)?'active':'') Menu level 2
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==1&&munuSubIndex==2)?'active':'') Menu level 2
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==1&&munuSubIndex==3)?'active':'') Menu level 2
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==1&&munuSubIndex==4)?'active':'') Menu level 2
          span.ion.ion-ios-arrow-down
          ul.nav-main__menu-third
            li
              a(href='#',title='Menu level 3') Menu level 3
            li
              a(href='#',title='Menu level 3') Menu level 3
    li
      a.nav-main__menu-link(href='http://google.com/',title='Menu level 1',class=menuIndex==2?'active':'') Menu level 1
    li
      a.nav-main__menu-link(href='#',title='Menu level 1',class=menuIndex==3?'active':'') Menu level 1
    li
      a.nav-main__menu-link(href='#',title='Menu level 1',class=menuIndex==4?'active':'') Menu level 1
    li
      a.nav-main__menu-link(href='javascript:void(0)',title='Menu level 1',class=menuIndex==5?'active':'') Menu level 1
      span.ion.ion-ios-arrow-down
      ul.nav-main__menu-second
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==5&&munuSubIndex==1)?'active':'') Menu level 2
        li
          a.nav-main__menu-second-link(href='#',title='Menu level 2',class=(menuIndex==5&&munuSubIndex==2)?'active':'') Menu level 2
          span.ion.ion-ios-arrow-down
          ul.nav-main__menu-third
            li
              a(href='#',title='Menu level 3') Menu level 3
            li
              a(href='#',title='Menu level 3') Menu level 3
    li
      a.nav-main__menu-link(href='#',title='Menu level 1',class=menuIndex==6?'active':'') Menu level 1
